<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Notaking</title>

    <link rel="stylesheet" href="../static/bootstrap.css">
    <link rel="stylesheet" href="../static/styles.css">
    <link rel="stylesheet" href="../static/animation.css">
    <link rel="stylesheet" href="../static/color-styles.css">

    <script src="../static/scripts.js"></script>

</head>
<body class="starting-page-color">


    <div class="container-fluid text-center">

        <h1 class="brand-name rounded-pill">Notaking</h1>

        <div class="box-animation">

            <h3 class="m-3">Nopture Your Ideas, Anytime, Anywhere.</h3>

            <h3 class="m-3">Create Your Creative Notes Here!</h3>

            <p class="text-danger text-muted m-4">Get Access To Your Notes Any Where.</p>

            <a href="login-page.html" class="btn btn-lg btn-outline-primary button-animation">Log In</a>

            <a href="register-page.html" class="btn btn-lg btn-outline-info button-animation">Register</a>

        </div>

    </div>

    
    
</body>
</html>